sudo: required

language: node_js

node_js:
  - 8

install:
  - npm install
  - npm install -g codecov

before_script:
  - npm i -g npm

script:
  - codecov

after_success:
    - bash <(curl -s https://codecov.io/bash)